<div class="main">
  <h1>{{typed-string strings=typedStrings typeSpeed=0}}</h1>
<form>
  {{input type="text" placeholder="Pizza" value=searchTerm}}
  {{input type="text" placeholder="ZIP Code" value=location}}
  <button onClick={{action "search"}} type="submit" class="btn-info">Search</button>
  <button onClick={{action "searchRandom"}} type="submit" class="btn-danger">Feeling Lucky?</button>
</form>
</div>

{{outlet}}
